<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd"><html><head><meta name='description' content='&lt;p&gt;AU Tomione. No time travel no time turners. - 'Are you not scared of him? Tom Riddle has got a rather peculiar reputation. But I'm sure it's all stupid talk. He's Head Boy after all.' - 'What kind of a reputation' - 'Er&amp;hellip; he's&amp;hellip; well, he seems kinda dark.'&lt;/p&gt;'><title>Please, save me by Winterblume</title>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1"><link rel="stylesheet" type="text/css" href="skins/HPFFA Light/printable.css"><script type='text/javascript'>
<!--
if (window.print) {
    window.print() ;  
} else {
    var WebBrowser = '<OBJECT ID="WebBrowser1" WIDTH=0 HEIGHT=0 CLASSID="CLSID:8856F961-340A-11D0-A96B-00C04FD705A2"></OBJECT>';
document.body.insertAdjacentHTML('beforeEnd', WebBrowser);
    WebBrowser1.ExecWB(6, 2);//Use a 1 vs. a 2 for a prompting dialog box    WebBrowser1.outerHTML = "";  
}
-->
</script></head><div id="pagetitle"><a href="viewstory.php?sid=1423">Please, save me</a> by <a href="viewuser.php?uid=10862">Winterblume</a></div>
<div class="infobox">
<div class="content"><span class="label">Summary: </span><p>AU Tomione. No time travel no time turners. - 'Are you not scared of him? Tom Riddle has got a rather peculiar reputation. But I'm sure it's all stupid talk. He's Head Boy after all.' - 'What kind of a reputation' - 'Er&hellip; he's&hellip; well, he seems kinda dark.'</p><br />
<span class="label">Categories:</span> Slaves > About slavery, Character Centric > Hermione Granger, Powerful > Dominating Main Character, Slaves > Main character is master, Slaves > Main character is slave, Bonding > Other Bonding <span class="label">Characters: </span> Hermione Granger, Tom Riddle Jr.<br />
<span class='label'>Status: </span> WIP (Work in progress)<br /><span class='label'>Genres: </span> Adult, AU, Hurt/Comfort, Romance<br /><span class='label'>Pairings: </span> Other Pairing<br /><span class='label'>Warnings: </span> Adult Themes, Mild Sexual Situations, Strong Language, Strong Violence<br />
<span class="label">Challenges:</span> None<br /> <span class="label">Series:</span> None<br />
<span class="label">Chapters: </span> 1 <span class="label">Completed:</span> No  
<span class="label">Word count:</span> 7,323 <span class="label">Read:</span> 2,693
<span class="label"> Published: </span>April 18, 2015 <span class="label">Updated:</span> April 18, 2015 </div>
</div>
      <p><b>1.</b> <a href='#1'>Chapter One: Broken Places</a> by Winterblume</p>
<div class='chaptertitle'><a name='1'></a>Chapter One: Broken Places by Winterblume</div>
<div class='chapter'><p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;"><strong style="font-size: 11.1999998092651px;">Disclaimer:</strong>&nbsp;This story is based on characters created and owned by JK Rowling, various publishers including but not limited to Bloomsbury Books, Scholastic Books and Raincoat Books, and Warner Bros., Inc. No money is being made and no copyright or trademark infringement is intended.</p>
<p>&nbsp;</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">Pairing: Hermione Granger/Tom Riddle, Tom/Hermione, Tomione</p>
<p>&nbsp;</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px; text-align: center;">{{{{{{{{+}}}}}}}}</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px; text-align: center;">&nbsp;</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;"><strong>Chapter One: Broken Places</strong></p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">"Hermione!"</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">A woman stood in the front door of a house and called out to the group of children playing on the street. One of the children, a girl with curly long hair, turned her head and waved at the woman.</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">"Come in. It's getting late," the woman said, a smile on her face.</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">The small girl said good-bye to her friends and ran over to her mother. The woman slung an arm around the girl's shoulders and led her in.</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">"Had fun?" she asked good naturedly.</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">The girl nodded enthusiastically which made the woman beam down at her.</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">"So, you are not missing school anymore?" the woman inquired playfully.</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">"I still do," the girl quickly avowed, frowning up at her mother. "How long till it starts again?"</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">The woman laughed softly at that and ran an affectionate hand over the girl's head. "Three weeks."</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">"That long?" the girl asked in indignation.</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">"Yes," the woman laughed. "But now come, let's eat. Your father cooked."</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">The girl skipped into the living room and sat down at the table. The woman followed behind at a more sedate pace.</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">"Hermione, there you are."</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">A man with the same brown hair colour as the girl carried a dish with mashed potatoes and put it down on the table.</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">"Thought you've gone lost," the man grinned at the girl. "Then I would've been able to eat the whole dessert all by myself."</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">"Ha," the girl grinned right back. "No, I wanna dessert, too."</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">The woman rolled her eyes at their antics though the smile still was on her face. Then she reached for a bowl with peas.</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">&nbsp;</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px; text-align: center;">&dagger;</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px; text-align: center;">&nbsp;</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">"'m not tired yet," the girl mumbled although her eyes had been closed for the last ten minutes.</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">"I think it's bed time," the woman told her daughter.</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">The girl just curled tighter around the pillow, forced her eyes open and looked at the TV.</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">"No, I wanna see the ending."</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">The man ran a hand affectionately through her curly hair. "I'll tell you everything about it tomorrow. Deal?"</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">"'k," the little girl smiled up at him sleepily. "But don't forget."</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">He leaned down to her and whispered in her ear, "I wouldn't dream of."</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">The girl giggled. Then she tiredly got up from the sofa.</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">"Night, Dad," she said.</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">"Good night, Hermione." The man smiled at her.</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">The girl let her mother lead her out of the sitting room and up the stairs. She was already half asleep as she changed into her pyjamas and wanted to lie down in her bed. The woman stood in the doorway and shook her head at her daughter.</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">"Never forget to brush your teeth," she reminded the girl.</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">The curly haired girl sighed and shuffled over to the bathroom. By the time she got back to her room she was utterly knackered. The woman watched her daughter as she fell into her bed. She stepped over and smiled down at the child.</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">"Sleep well," the woman whispered.</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">The girl didn't open her eyes but still smiled. "Good night, Mo-"</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">She was interrupted by a loud clatter coming from downstairs. The girl's eyes shot open and stared at her mother.</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">"What was that?" she asked.</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">"I don't know," the woman answered uneasily. "Don't worry. Probably just Dad being clumsy again. I'll go and che-"</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">The woman was interrupted as they heard a voice coming from downstairs. It was her husband who seemed to yell at someone,</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">"What are you doing here?"</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">"Shut up, Muggle," a sharp male voice hissed.</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">The girl sat up in her bed, now fear in her eyes.</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">"Mom?" she whispered fearfully.</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">Her eyes were wide as saucers as she hastily grabbed the hand of her mother. The woman pressed the hand of her daughter as she nervously stared over to the door leading out of the child's room. The door wasn't closed but she still nothing could be seen as the lights in the hallway was switched off. Without a warning the darkness was suddenly interrupted by an eerie green light creeping up the stairs. The green shine disappeared again, leaving nothing behind. The girl pressed herself tightly against her mother, now trembling with fear.</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">It was deathly quiet and the woman hugged her daughter close as she desperately tried to hear something from downstairs. She flinched in alarm as suddenly the wooden steps of the stairs creaked loudly as someone climbed them. By the sound of it that person obviously wore heavy boots. The woman clutched the little girl even tighter against herself. By now the person had reached to first floor and walked along the corridor towards the girl's room.</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">The girl whimpered softly as the door to her room was flung open violently so that it banged against the wall. A man stepped into the room. Clad in a heavy black cloak, he made a fearsome impression. His skin was pale, his hair dark and horribly mussed up. In his hand he held a strange wooden stick. There was a cruel smirk on his face as he scanned the woman and the child on the bed. He slightly turned his head and yelled,</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">"I found 'em, McNair."</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">Being shaken out of her stupor by the man's voice, the woman jumped up from the bed. The girl remained huddled on the mattress, trembling in fear.</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">"Stay away from us!" the woman yelled at the man, her voice shaking. "I'll call the police!"</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">The dark-cloaked man just raised his eyebrows mockingly at her. "Calling the 'please'?" He barked out a harsh laugh. "Whatever gets you off, Muggle."</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">He pointed the wooden stick at the woman, a mad glint in his eyes, and took a menacing step towards her. The woman stiffened and stepped in front of her daughter, shielding her from the man.</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">"Leave!" she hissed at the man.</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">The sick smirk on the man's face widened and he snickered evilly, "No can do." He tilted his head to one side and said wickedly, "I'm here for ya daughter, see."</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">The child on the bed sniffed softly and the woman's eyes widened in horror.</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">"Stay away from her!"</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">Suddenly a new voice cut in. "What the fuck are you doing?" that voice asked lazily.</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">Another man entered the room. Clad in the same strange cloak he also held a wooden stick in his hand. His long blond hair was pulled back in a tail and his bored eyes wandered slowly over the room, taking in the scene. He turned to his partner and said languidly,</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">"Stop playing around. I wanna finish this up fast. Contrast to you, I have a life."</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">The dark-haired man just smirked at him and jeered, "If sitting in pubs and getting drunk is suddenly considered a life&hellip;"</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">The other man just shrugged his shoulders. "I&nbsp;<em>have</em>&nbsp;to meet the ladies somewhere ...before they end up in my bed."</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">"You wish," the dark-haired laughed dirtily. Then he gestured at the woman and said carelessly, "But if you wanna cut this short. Whatever. Be my guest."</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">The woman shrank away from the two men and towards her daughter, desperate to protect the child.</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">"Please," she begged them. "If you want money. I have money."</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">"Don't talk to me, dirty Muggle!" the blond man yelled at her aggressively, making the woman flinch in panic.</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">He sneered at her fear. Then he raised his wooden stick and pointed it at her. Mocking sneer still in place, he hissed,</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">"Avada Kedavra."</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">A ghostly green light erupted from the wooden stick and sped towards the woman. Fear mingled with confusion was on the woman's face as the green light impacted with her chest. Her eyes widened, a small gasp left her mouth, then she sagged down to the floor. Her eyes still open but now unseeing, she remained to lie lifelessly on the ground.</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">Tears ran down the bushy-haired girl's cheeks. Her small body shook uncontrollably as she slid from the bed and huddled beside her mother's body. Her fingers desperately curled around her mother's blue shirt and she sobbed.</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">"Mom? Mommy?"</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">There was a vile smirk on the blond man's face as he lowered his stick. He snickered in cruel amusement as he eyed the crying girl on the floor.</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">"You are no fun at all, you know that?" the other man told him, totally unaffected by the girl's sobs.</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">He sighed dramatically then he walked over to the child. Without paying any attention to the dead woman he bent down and brutally grabbed the girl by her upper arm. The girl cried out in pain but the man didn't loosen his grip. Instead he wrenched at her mercilessly as he hissed,</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">"Get up, you dirty Mudblood!"</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px; text-align: center;">.</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px; text-align: center;">.</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px; text-align: center;">.</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px; text-align: center;">.</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;"><strong>Seven Years Later&hellip;</strong></p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">She was in paradise. In heaven. Even if she tried, she wouldn't know how this situation could be improved in any way. Her eyes were closed and she sighed as she felt his soft lips on her own. One arm snaked around her waist, he pressed her against his chest while his other hand gently ran through her hair. She felt him nibbling cautiously at her lower lip and a jolt of pleasure shot through her whole body. His hand left her hair and fondled the back of her neck before it skimmed down her back, leaving her in goosebumbs. She raised her arms and wrapped them around him so she could huddle closer against him. His tongue was hesitantly tracing over the seam of her mouth, timidly asking for permission to deepen this kiss. The fluttery feeling in her stomach intensified a thousandfold as she parted her lips slowly. His tongue slipped into her mouth and cautiously rubbed against her own. Eagerly she responded to his shy caress and soon their tongues were busy dancing together. She was sure if he hadn't still held her, she would have floated off the ground.</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">It must have been only a second or an eternity until he ended their kiss. She sighed contently as she leaned her head against his chest and felt both his arms securely wrapped around her. She never wanted him to let her go. She felt so protected in his arms. As she raised her face at him, she found him smiling down at her affectionately. His silky dark hair fell lightly into his eyes. She loved his eyes. They were the most beautiful shade of blue she had ever seen. His high cheek bones and his pale skin gave him an aristocratic look while his strong jaw line emphasized his masculinity. He was dizzyingly handsome.</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">A happy smile on her face she told him, "I'm really glad you dropped by, Tom."</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">As he heard that a faint hint of colour appeared on his cheeks. Slowly a charming smile took form on his face.</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">"I like making you happy, Amy," he mumbled softly.</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">Then he let go of her and Amy was left behind with a strong feeling of loss. Tom still looked at her, the blush not leaving his face, while he smiled dreamily. Her heart skipped a beat as she gazed back at him.</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">"Oh, yes, before I forget it," she then said. "Do you remember that book you talked about?"</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">The glassy look was still in Tom's eyes as he stared at her and he needed a moment to process her question. Then he furrowed his brow and asked confused,</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">"What book?"</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">She giggled softly as she noticed how his eyes had wandered back to her lips while a longing sheen appeared in his eyes. Clearly he was not really following this conversation.</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">"The Noble Founders of Hogwarts," she replied smiling at him.</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">His gaze only reluctantly left her lips and wandered up to her eyes. Amy could see his face lighting up as he looked deeply into her eyes. Had he even taken in anything she said? She doubted it and giggled softly. He seemed to shake himself out of it.</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">"Ah yes," Tom said, smiling at her charmingly. "I totally forgot. What about the book?"</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">She felt like drowning in his blue eyes but she tried to stay focused. At least one of them should, she thought amused.</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">"I found it."</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">His eyes widened with admiration as he looked at her. "You really did? That's incredible."</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">Amy blushed as she heard his praise. "No, it wasn't that difficult," she said timidly. "I asked my dad. You might not know but he's working as a librarian in the Ministry's archive and can get his hands on the rarest of books."</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">Tom nodded in understanding, still looking at her in adulation. Could she even see a little bit of desire there in his blue eyes? she wondered excited.</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">"Wait, I'll get it for you," she said, throwing him a seductive look that made his soft eyes widen in surprise.</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">Smiling slightly she stepped over to her trunk, opened it and retrieved a heavy tome. The book was bound in dark leather and its pages were gilded. Imprinted in the leather of its cover was the word 'Conditoribus' in large golden letters. Carrying the book, she went back to him.</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">"Here," Amy said, offering him the book.</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">Tom looked at her, surprise in his blue eyes. "W&hellip; what?"</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">Lovingly, she smiled up at him. "I want you to have it."</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">He still hadn't accepted the book from her. Now he shook his head slightly and stuttered,</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">"No&hellip; I can't&hellip; can 't&hellip; that's too much. You should keep it."</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">"Tom, it's okay," she gently tried to coax him into taking it. "I know how much you like books. And I would just fall asleep if I tried reading it. So, just take it."</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">His blue eyes flickered from the book in her hands to her eyes. He looked at her with an endearing shyness on his face. She smiled at him encouragingly.</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">"It's really okay," she assured,</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">He gulped nervously as his eyes insecurely wandered back to the book.</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">"O- okay," he mumbled shakily. Then he smiled at her cautiously. "But only because you're forcing me to."</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">"Sure, Tom," she giggled.</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">She stood on her tiptoes and placed a kiss on his lips. As she released him again she was exhilarated to find the glassy look back in his eyes. She winked at him, which made an adorable blush blossoming on his cheeks, then she handed him the book.</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">"Thank you, Amy," he whispered in a shaky voice as he beamed down at the book.</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">"Don't mention it," she said.</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">Tom threw her a smile which sent pleasant shivers up and down her spine. Then he bent down to her and kissed her chastely on the cheek. As he straightened up again he cautiously looked at the door of her dorm. Then he looked back down at her and said embarrassed,</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">"I'll better go now, before your friends catch us."</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">Amy didn't want him to go but she still nodded at him. "Okay," she whispered sadly.</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">Sensing her reluctance to let him go, Tom smiled reassuringly down at her. Then he raised a hand and cupped her cheek before he once again placed his lips over hers. He kissed her tenderly. Amy's hand wandered up his chest, skimmed over his golden Head Boy badge, until it came to rest lying on his shoulder.</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">"Now I really have to go," he said after he released her lips again.</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">Amy watched, still entranced by his kiss, as he walked over to the door. He threw her one last smile before he slipped out of her dorm. As he had left she turned on the spot and, happy smile still in place, fell down on her bed.</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">The affectionate smile still ghosted around his mouth as Riddle soundlessly closed the door behind him. He stood in a dark abandoned hallway with stairs at its end, leading down to the Ravenclaw common room. Riddle's gaze wandered to the heavy book in his hands. As he stared down at its cover the lovestruck expression he had presented to the girl easily melted from his face as if it never had been more than a hollow mask. His blue eyes grew cold and suddenly an odd red gleam started to glow in them. A malicious smirk slowly twisted up the corners of his mouth as he greedily stared at the book.</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">&nbsp;</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px; text-align: center;">{{{{{{{{+}}}}}}}}</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px; text-align: center;">&nbsp;</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">The next morning, Riddle entered the Great Hall and stalked over to the Slytherin table. Small smirk curling up his mouth, he didn't even once look over to the Ravenclaw table. As he passed the Slytherins already sitting at the table many were throwing him admiring glances. Unmoved Riddle wandered towards his seat, never returning any of the reverentially whispered greetings.</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">Right at the middle of Slytherin table lounged a group of seven-years. Exuding the air of exclusiveness, it seemed an invisible wall separated them from the rest of the Slytherins. The members of this group received many envious glances from the other Slytherins who desperately wished to be a part of them. Riddle suppressed a disdainful snicker. They were all so pathetic. As if any of this held any real importance. A bunch of little schoolchildren, all of them.</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">Riddle kept the condescending sneer off his face as he stepped over to that 'exclusive' group. A seat in their midst was unoccupied, seemingly reserved for someone. Riddle elegantly slipped into that seat.</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">"Riddle," a platinum blond boy said in greeting.</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">Riddle inclined his head, not really wanting to be engaged in any conversation. A fat smirk appeared on the blond's face as he inquired,</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">"How is Belby?"</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">Riddle arched an uninterested eyebrow and commented coldly,&nbsp;"Who's Belby?"</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">A burly boy sitting beside the blond looked up from his plate of scrambled eggs and scanned Riddle with his beady eyes.</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">"But isn't Amy Belby your girlfriend?" he asked stupidly.</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">Riddle imperiously stared at the burly boy for a moment before he said in a frosty voice,</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">"No."</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">The nasty smirk on the blond's face widened and the only girl in the round smiled insanely as she heard those news.</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">"Of course Amy's not, Goyle!" the girl said triumphantly to the burly boy.</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">Then she regarded Riddle through her heavy lidded eyes. Flicking her black curly hair out of her face, she said arrogantly,&nbsp;"It was about time you stopped playing around with the mousy girl."</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">Riddle merely observed her through his expressionless blue eyes.</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">"Bellatrix," he said in his smooth voice. "I really don't care what Belby looks like. In the end, she's proven herself to be very useful."</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">Bellatrix pouted her lips and sulked. "I can be useful, too. Just you wait."</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">A barely visible smirk ghosted around Riddle's mouth. "I'm sure you can," he flirted silkily.</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">Bellatrix' dark eyes lit up as she heard that. Her gaze full of admiration, she scanned Riddle with longing.</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">"So I presume you got from Belby what you wanted then?" the blond boy asked nonchalantly.</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">Riddle's icy blue eyes wandered from Bellatrix to the blond.</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">"Whatever makes you think I wanted something from her, Draco?" he asked innocently, sinister amusement betraying his tone.</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">A boy with black hair who sat at Riddle's right, scanned the other through cold eyes. He leaned a bit forward on his seat before he said in a collected voice,</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">"Because Bella is right. Belby's a boring Ravenclaw and she doesn't even look good. So either you've suddenly changed your taste in women, Tom, or you wanted something from her."</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">A nasty smirk curled up Riddle's mouth as he heard it.</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">"Well, Antonin," he replied softly. "It seems I am an open book to you."</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">Antonin snickered darkly as he heard that. "Far from it. Very far, Tom. After all these years, I have to admit, you are still a mystery to us all."</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">Riddle snickered softly. Antonin took a sip from his cup of coffee before he asked casually,&nbsp;"By the way. Are you going to stay at Hogwarts over Christmas?"</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">Before Riddle could reply, Bellatrix, crazy smile in place, ran a possessive hand over Riddle's arm.</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">"No," she bragged, turned to Antonin. "He's going to visit Malfoy manor. Draco invited him."</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">Riddle coolly waved her hand away from him, making the girl pout once again.</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">"Malfoy?" Antonin asked with raised eyebrows. His gaze shortly wandered to Draco. Then he said, sweet poison accompanying his words,</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">"Why, Tom, if you are that desperate, you should have said something. I would have gladly invited you."</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">Draco narrowed his eyes at the other. Then he said in a composed voice, "Last minute invitations are never a sign of refined manners, Dolohov."</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">The slight twitch of his hands was the only indication of Antonin Dolohov's annoyance. Meanwhile Bellatrix cackled evilly. Self-satisfied Draco peered at Riddle but was disappointed to find the other quite indifferent.</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">"How come you don't stay at Hogwarts, Tom?" another boy threw in shyly. "You always do except for summer holidays."</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">Riddle lazily turned his head and scanned the boy through his unreadable blue eyes. Sitting at the edge of the group, the other boy shifted awkwardly in his seat as he was hit with Riddle's scrutiny.</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">"There are things I have to settle, Regulus," Riddle finally replied, a cold tinge in his otherwise polite voice.</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">Without waiting for a reply Riddle gracefully got up from his seat, leaving a disappointed Bellatrix behind.</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">"Now, if you excuse me. I have a book to read," Riddle said smoothly, his voice thick with dark amusement.</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">From the Ravenclaw table, Amy Belby watched the Head Boy's process through the Great Hall. Sadness swam in her eyes as he ignored her completely. She had so hoped they would have a chance to meet again before they all departed for the Christmas break. Why was he ignoring her so utterly?</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">&nbsp;</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px; text-align: center;">{{{{{{{{+}}}}}}}}</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px; text-align: center;">&nbsp;</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">Not even a day later, Riddle strolled through Malfoy manor, following Draco as the other led him towards the guest rooms. Climbing a flight of stairs, they quickly reached the first floor and followed down a corridor. The dark wood of the floor was polished to perfection. On the walls hung portraits of platinum blond men, staring snobbishly down at the visitors. Riddle silently followed Draco down the corridor his thoughts distractedly racing to the task he wanted to complete during the break. He would definitely have to visit Diagon Alley the next day to get all the equipment he needed.</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">"Right over here are the guest rooms," Draco's voice brought him out of his contemplation. "Your luggage has already been brought in."</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">Riddle didn't answer and they turned left into a hallway where Draco led his guest over to a door. He reached for the golden door handle and entered the room behind. Riddle followed him. The room was very spacious with a king-sized bed standing in its middle. Pieces of mahogany furniture were arranged tastefully in the room. Indeed, Riddle's trunk already stood at the foot of the king-sized bed.</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">"Dinner is planned for seven," Draco said. "If you should need anything, just call for Penny."</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">He turned to the door, waved his wand and said sharply,&nbsp;"Penny."</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">He waited for a moment. Then there was a soft crack and the servant appeared out of thin air, immediately bowing before Draco.</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">"What can I do for you, Master?"</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">Draco sneered down at the creature and said bitingly,&nbsp;"This is a guest of the family, Tom Riddle." He gestured at Riddle. "I want you to look after him for the duration of his stay."</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">"Of course, Master." Another bow.</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">Draco narrowed his eyes at the unopened trunk standing in the room. Then he ordered sharply,&nbsp;"You can start with unpacking his things, Penny."</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">"Yes, Master," replied Penny obediently before she hurried over to the trunk.</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">Riddle threw Draco a dark glare and said, "I don't appreciate it very much when others touch my belongings."</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">Draco looked at him, fear lightly flickering through his eyes. "Of course," he said hastily.</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">He casually waved his wand at Penny, who had already opened the trunk. She was hurled away and squeaked painfully as she fell on the floor, but quickly scrambled up again.</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">"Don't touch his stuff!" Draco hissed at her threateningly.</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">Penny quickly assured, "I won't, Master."</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">"Leave us alone," he commanded.</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">Penny bowed deep then she turned around and scurried out of the room, her curly brown hair flipping loftily as she walked.</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">"Ts," Draco tutted derisively. "Mudbloods, too stupid to breathe if you didn't tell them how to."</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">&nbsp;</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px; text-align: center;">&dagger;</p>
<p>&nbsp;</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">Hermione rubbed her aching side. It hurt where she had been flung to the floor. She hadn't even done anything wrong to deserve it. Then again Draco never cared about things like fairness. Like always Hermione had dreaded the day he would return from his school. It was even more terrible now that he seemed to have brought along a friend. That dark-haired man, Riddle, had looked just as mean as Draco. Hermione quickly hurried away from the guest rooms and down the stairs. Hopefully neither Draco nor his friend would call her again today.</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">Hermione quickly reached the ground floor, left the main corridor and climbed down the old squeaky stairs to the kitchens. As she opened the doors, steam and the smell of roasted beef greeted her. The smell of the food instantly made her mouth water. Sadly she wouldn't get a bite of it. That was not for her. If she was really lucky, though, she could get a bit of Maggie's delicious vegetable soup. Hermione turned, looking for the woman. She smiled as she found her standing in front of the hearth. Careful as not to disturb the others working in the kitchen, Hermione tiptoed over to her.</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">"Hey, lass," Maggie greeted as she noticed Hermione. "Gotten into trouble again?"</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">Hermione beamed at the woman and shook her head. Maggie smiled at her in relief and put the wooden ladle away. The small chubby woman stepped over to Hermione and enveloped her in a motherly hug. Then she let go of her again, affectionately ruffled Hermione's bushy hair and stepped back to her pots and pans.</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">"Be a good girl, and help me peel the potatoes."</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">Hermione smiled, nodded and hopped over to the huge pile of potatoes sitting in a pot. She reached for a knife and started to peel them. She was rather glad to sit here in the kitchen. It was nicely warm. Later on she would have to go outside and clear the snow off the manor's entrance. She already felt chilly.</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">Hermione reached for another potato as the kitchen door opened. In stepped a girl not much older than Hermione. She was carrying a huge bag of laundry over her shoulder. Cursing colourfully, she hauled the bag over to another door and entered the room behind. A minute later she reappeared in the kitchen, without any bag, and hopped over to Hermione.</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">"Hey, Penny," the girl greeted her good-naturedly. "How's the day?"</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">"Splendid, Minky. Yours?"</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">"Fabulous, I would say. Weather's nice, too," Minky answered, grinning broadly, while she joined Hermione with peeling potatoes.</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">Hermione smiled back at her. They always had this ritual. It didn't really matter how their day had been. It was just nice using words like 'spectacular' for a change. There wasn't much opportunity to do so otherwise. Minky plopped a pealed potato into the pot and reached for a new one.</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">"Try to make the peels&nbsp;<em>reeealy</em>&nbsp;thick," she whispered to Hermione. "We can cook a soup out of them later."</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">Hermione giggled. "What do you think I'm trying to do here?" she whispered back in amusement.</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">"Yeah," Minky replied lightly. "Gotta eat something, right?"</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">"Right you are," conceded Hermione.</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">"By the way, I heard the Blacks are visiting today," Minky informed her while looking like she had bitten into a lemon.</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">Hermione had the same expression on her face as she heard it. "Ugh."</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">Minky shrugged her shoulders. "That's what I thought."</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">"And Draco has a guest, too," Hermione added unenthusiastically.</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">The other girl raised her eyebrows. "Who's it?"</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">"No-one we know," she replied. "Tom Riddle. I guess he's at the same school as Draco."</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">Minky sighed tiredly. "More work for us." Her brown eyes flashed at Hermione. "How'd he look?"</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">Hermione groaned softly. She very well knew Minky hadn't asked for a description of Riddle's physical appearance.</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">"Well, he looked like the type to curse the hell out of you if you so much as breathe in the wrong way."</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">Minky plopped another potato into the pot. "Better steer clear of that one then?"</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">"Definitely," was Hermione's reply.</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">&nbsp;</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px; text-align: center;">&dagger;</p>
<p>&nbsp;</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">It was a few hours later that Hermione stood in the entrance hall of Malfoy manor with a pack of cloaks in her hands. Holding the expensive clothes cautiously, she quickly carried them over to a small room where she put them away on a clothes rail. Gently closing the door behind her she hurried through the entrance hall and down a corridor towards the drawing room.</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">Hermione tried to be as quiet as possible as she slipped into the room. The Malfoys and their guests already sat at the bountiful table. Hermione let her gaze quickly wander over the people at the table. Lucius was sitting at the head with Narcissa and Draco by his side. Then there were Cygnus and Druella Black and their daughter, Bellatrix. Hermione shuddered as she surreptitiously scanned the girl. She had never liked Bellatrix Black. Right beside Bellatrix sat Tom Riddle. Hermione would have liked to roll her eyes as she saw the glassy look in Bellatrix' eyes as she scanned Riddle. Wasn't she already engaged? Hermione stopped wondering about Bellatrix' marriage plans but quickly scurried over to Sam who was serving the soup. He threw her a grateful look as Hermione helped him.</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px; text-align: center;">.</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">It was a good half hour later as Hermione stood a bit away from the table, silently waiting for any orders, and watched the people eat. Her mouth was watering as she longingly eyed the food on the table. She hadn't had the time to eat anything since breakfast. Hopefully Maggie had found the time to make that promised vegetable soup from the leftovers. Hermione suppressed a tired sigh and tuned into the conversation.</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">"Did you hear from the Sch&ouml;nbach case over in Germany?" Lucius asked while he cut his roast beef.</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">Mrs Black looked at him interestedly and replied, "Yes, of course. And it is a disgrace, let me tell you that."</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">Narcissa nodded in agreement, furrowing her brow in disgust. Bellatrix morosely pushed her boiled potatoes around her plate.</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">"What case?" she asked in a bored voice.</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">Her father frowned at her. "You really should read the papers more often, Bella. It would do you some good."</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">Bellatrix just shrugged her shoulders, not really impressed by her father's rebuke.</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">"Really, Bellatrix," Mrs Black chided her daughter sternly. "Your father is right."</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">At her mother's sharp words, Bellatrix straightened up on her seat, for the first time looking really contrite.</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">"Yes, mother," she replied subdued.</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">Her mother narrowed her eyes at her and said, "For your information Lucius talked about that murder case over in Germany. Marcel Sch&ouml;nbach allegedly killed his aunt. The Sch&ouml;nbachs are a very old and rich Pureblood family and now that Hanna Sch&ouml;nbach is dead Marcel will inherit the fortune."</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">Mr Black shook his head in indignation as listened to his wife. "How could such a prestigious family sink so low? Now it's all over the press. What a scandal."</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">Lucius nodded at that. "It is, it is. I actually knew Hanna. She was a fine woman."</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">"Yes," Nacissa consented. "And now she's dead. Poisoned, as far as I know."</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">"How'd he actually do it?" Mr Black asked.</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">"As far as I know," Mrs Black said. "Marcel used the Imperius Curse on his aunt's Mudblood and forced it to serve her poisoned tea. She died instantly after she drank it."</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">"How horrible," gasped Narcissa. "I hope that filthy Mudblood got punished."</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">"Yes, of course," Mrs Black said. "The Mudblood was immediately killed as they found out the truth."</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">Nacissa nodded approvingly and Hermione felt an icy cold shiver running down her spine.</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">"What a nasty affair," Lucius sighed. "They shouldn't have wrenched this into the public."</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">Riddle put his silver knife down on his plate and said in his silky voice, "Yes, it is rather unfortunate how that trial is ruining an old family's name. Still, this whole lawsuit seems to be nothing more than a red herring. Now that the Sch&ouml;nbachs are all over the papers, the German Minister's dissolute lifestyle no longer makes the headlines."</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">Mrs Black threw Riddle an appreciative glance. She took a sip from her wine glass before she said, smiling at him,</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">"Yes. It&nbsp;<em>does</em>&nbsp;sound like a masterful political stroke. After all, next month they have elections in Germany."</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">Riddle inclined his head. "The Minister can hardly win any votes when his conquests continue to chitchat with the tabloid press."</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">Mrs Black threw him a small smile as she took another sip from her glass.</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">"I tell you." Narcissa shook her head. "If Grindelwald were still alive, something like this would have never happened."</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">Hermione, who still stood by the table awaiting any orders, nearly rolled her eyes.&nbsp;<em>Narcissa and her antics</em>, she sighed in her mind. With that topic the woman could go on for hours. Hermione dearly hoped she wouldn't. It had been a long day and Hermione just wanted to sit down for a second. Her feet hurt terribly and she was incredibly tired.</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">"Narcissa, darling," her husband said, laying a soothing hand over Narcissa's. "Grindelwald was an old man. No-one can live forever."</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">"But he survived so many assassination attempts, just to die in an accident?" Narcissa lamented. "If only he hadn't experimented so much."</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">"You are right," Lucius consoled her. "But we should be grateful that he was alive long enough to present us with our a stable society. Everyone has enough to eat, the land prospers and for decades no wars have threatened our wealth. Everybody is safe and content with their lives. We have Grindelwald to thank for that."</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">"Yes," Mr Black conceded. "Imagine the horrors if one of those assassination attempts would have been successful."</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">Narcissa shuddered visibly at that.</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">"Grindelwald was a brave and strong man," Mr Black continued. "Back in the 1940s he even got attacked by his closest friend. Imagine that. His best friend turned against him and duelled him. Of course, Grindelwald prevailed."</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">Riddle raised an eyebrow at the other. "You mean Albus Dumbledore?"</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">Mr Black nodded gravely. "I shudder to think what would have happened to us all if Grindelwald had lost that duel."</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">&nbsp;</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px; text-align: center;">{{{{{{{{+}}}}}}}}</p>
<p>&nbsp;</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">A bowl of steaming soup stood invitingly before Hermione and she sighed in relief. Right now, she sat down in the kitchen at a small sidetable and was incedibly glad that a long day was finally over. She just wanted to reach for her spoon as she felt the familiar pull of her Master calling her. She reached for her left forearm, trying to rub away the stinging feeling.</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">"Dammit," she muttered.</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">Minky threw her a pitying look but didn't stop to spoon the soup into her mouth. Hermione stuck out her tongue at her, before she twirled on the spot and disappeared from the kitchen.</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">With a soft crack, she appeared in Draco's rooms. Quickly Hermione let her gaze wander over the room. She spotted Bellatrix lounging on one of the lush sofas. Tom Riddle was sitting right beside her with a sour expression on his face. Draco sat in his armchair. Hermione hastily stepped over to him and bowed.</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">"How can I help you, Master?"</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">Draco sneered at her, which wasn't anything unusual.</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">"Get us something to drink," he barked at her.</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">"Yes, Master," Hermione whispered.</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">With that she swirled on the spot. Seconds later Hermione reappeared in the kitchen and immediately started to prepare a tray with beverages. As she was finished she took the silver tray and quickly apparated back to Draco's rooms.</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">"-thought you would stay the whole holidays." Hermione heard Bellatrix' voice pout.</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">"No," Riddle's smooth voice answered. "I have something important to deal with."</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">As Hermione put the silver tray down on a side table, she glanced at Draco. Curiosity was glinting in his cold grey eyes as he scanned Riddle. She had no time to dwell on it but started to serve them.</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">Shortly later all three of them had a glass of red wine in front of them and Hermione stepped away as not to disturb their conversation. Wine carafe in her hand, she waited for any more orders.</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">"Tom," probed Bellatrix sulkily. "What's so important that you have to leave?"</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;"><em>&hellip;that you have to leave&nbsp;</em><em>me</em><em>?</em>&nbsp;Hermione mockingly imitated Bellatrix' voice in her head. She almost laughed out loud as she saw an annoyed glint in Riddle's calm eyes. He probably had had the same thoughts as he listened to Bellatrix' nagging.</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">"Nothing that's any of your business," Riddle said. His voice was still polite but there was cold finality lacing his tone.</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">Bellatrix pouted her lips as she heard him and leaned back in the sofa. Obviously in a cranky mood now, she twirled her wand through her fingers.</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">Draco, being somewhat entertained by Bellatrix' sour mood, drawled, "Say, Bellatrix, didn't your parents want you to visit the Lestranges for their annual New Eve's party?" He threw the girl a very fake smile. "After all you can't leave your fianc&eacute; alone for too long."</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">Bellatrix' glare grew very dark as she stared at Draco. By now she held her wand properly and looked like she considered cursing the other. Mocking smirk still in place, Draco just eyed her amused. Hermione observed it and just wished that she was somewhere else. Preferably down in the kitchen with a steaming bowl of soup in front of her. She suppressed a tired sigh as she saw the angry look on Bellatrix face and Draco's smug grin.</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">Meanwhile, Riddle sat right beside the irate Bellatrix on the couch, one leg draped over the other, and looked rather bored. Hermione shortly wondered why he was even here. He looked like he was enjoying it even less than her. As her eyes spotted the empty glass in front of Riddle, she grabbed the wine carafe and hurried over to him.</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">"Can I top you up?" Hermione asked in a soft voice.</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">Riddle's steely blue eyes landed on her. She shuddered as they seemed to burn into her. She didn't even dare to breathe while he stared at her. He didn't reply but only shook his head slightly. Hermione bowed to him obsequiously before she stepped over to Draco who also had an empty glass in his hand.</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">He held the glass with an impatient look on his face, as Hermione cautiously filled it up. It was then that a malicious smirk appeared on Bellatrix' face. She stopped twirling her wand idly in her hand and instead waved it at Hermione's back. Hermione was still pouring the wine as a stinging jinx hit her. She yelped painfully as the jinx impacted with her back. Her hand shook and she spilled wine all over Draco's pants. He cursed colourfully and sprang up from his seat while Bellatrix cackled evilly. Hermione's eyes widened in fear as she saw the huge stain on Draco's clothes. Her gaze wandered up to his face. He looked livid. Hermione immediately cowered before him.</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">"I&hellip; I'm deeply sorry, Master," she whispered fearfully.</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">"Damn," Draco yelled at her. "You clumsy fool!"</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">He raised his hand and slapped her forcefully. Hermione's head was thrown to the side as his hand impacted with her cheek. She suppressed a whimper and lowered her head again.</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">"I'm sorry, Master," she repeated softly.</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">He didn't reply but just pulled his wand. Hermione stiffened as she saw it but didn't try to get away from him.</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">"Pulso," Draco cried while flicking his wand at her.</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">Hermione squeezed her eyes shut as his magic hit her. She was hurled away and painfully collided with the floor. The jug, she still held in her hand, shattered and she could feel its shards cutting into her hand. She clenched her teeth and tried to ignore the pain as she sat up on the floor. In the corner of her eyes, she saw Bellatrix smirking evilly, obviously amused by the chaos she had created. Riddle seemed to still be completely disinterested and didn't even look Hermione's way.</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">"Clean this mess up," Draco ordered her. "And then get away from here."</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">"Yes, Master," Hermione whispered.</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">She reached into her pocket and pulled her bright-red wand. Scorgify was one of the limited spells she could do with her capped wand. Hermione quickly waved her wand over the glass shards on the floor.</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">"Scorgify," she mumbled.</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">The shards and the spilled wine disappeared. After that, Hermione again bowed to Draco, who wasn't even looking in her direction anymore. Then she twirled on the spot and left the room. Seconds later she reappeared in the kitchen.</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">She was greeted by Minky who sat at the kitchen table. She had needle and threat in her hand and tried to repair her sock which was full of holes. As Minky heard the crack of apparition she looked up from her work.</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">"There you are." She smiled at Hermione. "I've reserved you some of the soup."</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">"Thanks," Hermione said and tiredly sat down beside her.</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">She reached for a cloth that lay on the table and wrapped it around her bleeding hand. Minky got up and fetched a bowl of vegetable soup. Hermione gratefully started on the soup, using her left hand as her right one was covered in aching cuts.</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">"Still a splendid day?" Minky asked casually as she again sat down beside Hermione.</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">"Magnificent," she replied between two spoonfulls of soup.</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">&nbsp;</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px; text-align: center;">{{{{{{{{+}}}}}}}}</p>
<p>&nbsp;</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">It was late and Hermione was terribly tired. Still, she crept out of the servants' quarters, careful not to wake Minky as she stepped over her cot. Hermione's heart thundered in her chest as she sneaked through the manor's corridors up to the first floor. Cautiously she tiptoed over the wooden floor. She intentionally had left her shoes so they wouldn't clatter and alert anyone.</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">Just a few more steps and she reached the huge wooden door. Hermione opened it slowly as to not create any sound then she entered. The room behind was huge and filled with shelves and shelves of books. It was the Malfoy family's library. Hermione stopped shortly, closed her eyes and breathed in deeply. The smell of parchment and old books, it always managed to let a smile appear on her face.</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px;">Hermione opened her eyes again and stepped deeper into the Malfoy library. Trying to be as silent as possible she sneaked over to one of the shelves. With ease she found the book she had been looking for. She reached for the thick leather-bound tome and pulled it from the shelf. As she held the heavy book her hand smarted from the cuts she had received earlier, but she just ignored the pain. Curses and Jinxes VI: Advanced Curse Breaking, read the book's title. With practised ease she flipped it open and quickly found the page where she had stopped yesterday. Then she stepped over to the window and began to read, the moon light illuminating the letters.</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px; text-align: center;">&nbsp;</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px; text-align: center;">{{{{{{{{+}}}}}}}}</p>
<p>&nbsp;</p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px; text-align: center;"><strong>'The world breaks everyone and afterward many are strong at the broken places.'</strong></p>
<p style="max-height: 999999px; font-family: Verdana, Verdana, Arial; font-size: 11.1999998092651px; text-align: center;"><strong>- Ernest Hemingway (*1899 &dagger;1961)</strong></p></div>
<div class='notes'><div class='title'><span class='label'>End Notes:</div><div class='noteinfo'><p><img src="http://i19.servimg.com/u/f19/17/51/98/07/tomion11.jpg" alt="" width="550" height="585" /></p></div></div>
<div class='toplink'><a href='#1'>Back to index</a></div>
<div id="copyright">This is an unofficial fan site and is not connected or endorsed by J.K. Rowling or Warner Bros. Harry Potter and its characters are property of JK Rowling in association with Warner Brothers. All submitted "FanFic" stories remain the property of their authors and must not be copied in any form without their consent.
<P>
The views, activities, and lifestyles depicted in these stories in no way reflects the opinion, activities, or lifestyle of the site owner. We are not responsible for any of the adult content found in this archive. By entering this site you are stating that you are of legal age to view and enjoy adult material in your area. If you are underage or if adult material offends you, please leave now.</div>
<div id="archivedat">This story archived at <a href="http://www.hpfanficarchive.com/stories/viewstory.php?sid=1423">http://www.hpfanficarchive.com/stories/viewstory.php?sid=1423</a></div>